@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

h2{
    font-size: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    gap: 50px;

}
.color-purple{
    color:black;
    background-color: rgb(106, 61, 106);
    border-color: rgb(73, 41, 73);
}
.color-black{
    color:white;
    background-color: black;
    border-color:white;

}

.color-pink{
    background: #f099ff;
    border-color: rgb(255, 0, 200);
}

.color-pink2{
    background: rgb(245, 127, 233);
    border-color: black;
}

.color-green{
    background: #58e866;
    border-color: rgb(144, 244, 86);
}

.color-blue{
  
    background: #24a1fb;
    border-color: rgb(0, 97, 188);
}

.color-yellow{
    background: rgb(241, 246, 95);
    border-color: rgb(255, 200, 0);
}

.card-container{
    height: 470px;
    width: 300px;
    padding: 15px; 
    border-radius:15px;
    border-style:solid;
    box-shadow: 3px 3px 6px rgb(255, 254, 254);  
    transition: all .5s ease-in-out;
}

.background{
    text-align: center;
    background: #ffff;
    height: 250px;
    width:100%;
    margin-left:-3px;
    border-style: solid;

}

.background img{
    transition: .5s ease-in-out;
    position: relative;
    z-index: 15;
}

.background img:hover{
    transform: scale(1.2);
}

.imagem{
    height: 248px;
    width: 80%;
    
}


.pokenome{
    text-align: center;
    padding: 5px;
    
    


}
.tipo{
    text-align: center;
    padding:3px;
    margin: 3px;
    border-style: solid;
    border-radius:5px;
    width: 70px;
    margin-top: -45px;
}

.tipo1{
    
    text-align: center;
    padding:3px;
    margin: 3px;
    border-style: solid;
    border-radius:5px;
    width: 80px;
    margin-top: 1px;
    margin-left: -5px;
    

}

.pokestatus > ul{
    margin-top:  30px;
}

.pokestatus > ul li{
    letter-spacing: 2px;
    margin-left: -5px;
    text-align: justify;
    margin-top: 5px;
}

.pokestatus1 > ul {
    
    margin-left: -5px;
    text-align: justify;
    margin-top: 10px;
}


.pokestatus1 > ul li{
     letter-spacing: 2px;
     margin-left: -5px;
    text-align: justify;
    margin-top: 5px;

}










    



    
   













